@font-face {
  font-family: 'Le Murmure';
  src: url('./fonts/LeMurmure-Regular.eot');
  src: url('./fonts/LeMurmure-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/LeMurmure-Regular.woff2') format('woff2'),
      url('./fonts/LeMurmure-Regular.woff') format('woff'),
      url('./fonts/LeMurmure-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('./fonts/EuclidCircularARegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Floreste';
  src: url('./fonts/Floreste-Wavy.otf');
  font-weight: normal;
  font-style: normal;
}

.page {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  background-color: #AE97E8;
  /* max-width: 1920px; */
  color: white;
}

.main-page {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: 44px;
  /* padding-left: 0; */
}

.logo {
  font-family: 'Le Murmure';
  font-size: 45px;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 600;
  padding-right: 133px;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: 'liga' off;
}

.site-navigation {
  display: flex;
  align-items: center;
  font-family: 'Euclid Circular A';
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  list-style: none;
  font-size: 18px;
}

.site-navigation a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

/* Иконка каталога */
.catalog-icon {
  margin-right: 12px;
  margin-top: 10px;
}

/* Каталог */
.site-navigation-item:first-child {
  margin-right: 387px;
  margin-top: -5px;
}

/* Блог */
.site-navigation-item:nth-child(2) {
  margin-right: 30px;
}

/* Контакты */
.site-navigation-item:nth-child(3) {
  margin-right: 386px;
}

/* Иконка поиска */
.search-icon {
  margin-right: 12px;
}

/* Поиск */
.site-navigation-item:nth-child(4) {
  display: flex;
  align-items: center;
  margin-right: 247px;
}

/* Избранное и кабинет пользователя */
.site-navigation-item:nth-child(5), 
.site-navigation-item:nth-child(6) {
  margin-right: 36px;
}

/* товар дня */
.product-of-the-day {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #D9FF5A;
  margin-top: 251px;
  margin-bottom: 0;
  padding: 0;   
}

/* Benjamin Moore */
.benjamin-moore {
  position: absolute;
  width: 1077px;
  height: 201px;
  left: 60px;
  top: 160px;
  font-family: 'Floreste';
  font-style: normal;
  font-weight: 400;
  font-size: 212px;
  line-height: 201px;
  /* text-align: center; */
  text-transform: uppercase;
  color: rgba(203, 182, 255, 0.6);
  z-index:-2;
  margin-top: 285px;
}

.product-of-the-day-card-container {
  display: grid;
  margin-top: 56px;
}

.main-page-lamp {
  z-index:-1;
  position: absolute;
  left: 375px;
  top: 155px;
}

/* Описание продукта дня */
.product-of-the-day-description-container {
  margin-top: 372px;
  font-family: 'Euclid Circular A';
  max-width: 312px;
  /* height: 195px; */
}

/* Название продукта - Santa Trinita */
.product-of-the-day-description-container h3 { 
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.product-of-the-day-description {
  font-size: 18px;
  margin: 0;
  margin-top: 13px;
}

.line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 274px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

/* Цена продукта */
.product-of-the-day-price {
  margin: 0;
  padding: 0;
  /* width: 107px; */
  height: 28px;
  display: flex;
  margin-top: 24px;
  font-family: 'Floreste';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;
  text-transform: uppercase;
  color: #D9FF5A;
  letter-spacing: 0.04em;
}

.ruble {
  width: 13px;
  height: 14px;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
}

/* Кнопка купить */
.buy-button {
  position: absolute;
  width: 357px;
  height: 156px;
  left: 783px;
  top: 839px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.buy-button img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: calc(50% - 24px/2 - 45.5px);
  top: calc(50% - 24px/2 + 1px);
}

.buy-button-text {
  position: absolute;
  width: 79px;
  height: 24px;
  left: 150px;
  top: 65px;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.ellipse-2 {
  box-sizing: border-box;
  position: absolute;
  width: 356px;
  height: 135px;
  left: 1px;
  top: 12px;
  background: rgba(255, 255, 255, 0.19);
  border: 2px solid #D9FF5A;
  backdrop-filter: blur(15.1352px);
  transform: rotate(-13deg);
  border-radius: 50%;
  z-index: -1;
}

.ellipse-3 {
  box-sizing: border-box;
  position: absolute;
  width: 356px;
  height: 135px;
  left: 2px;
  top: 9px;
  border: 2px solid #D9FF5A;
  transform: rotate(-2deg);
  border-radius: 50%;
  z-index: -1;
}


.pink-rectangle {
  position: absolute;
  width: 340px;
  height: 1038px;
  left: 1200px;
  top: 20px;
  background: #FA8FEF;
  border-radius: 50px;
  z-index: -1;
}

.blue-rectangle {
  position: absolute;
  width: 340px;
  height: 1038px;
  left: 1560px;
  top: 20px;
  background: #AECFFF;
  border-radius: 50px;
  z-index: -1;
}

.chair-2 {
  margin-top: 268px;
  margin-left: -41px;
 
}

.table-1 {
  margin-top: 254px;
  margin-left: 22px;
}

/* Секция категорий */
.categories {
  display: flex;
  flex-direction: column;
  margin-top: 219px;
  margin-right: 40px;
  padding: 0;
}

/* Заголовок КАТЕГОРИИ */
.categories h3 {
  display: flex;
  justify-content: center;
  /* margin-top: auto; */
  margin: 0;
  padding: 0;
  margin-bottom: 53px;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  /* line-height: 76px; */
  text-transform: uppercase;
}

/* Карточки категорий */
.category-cards {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

/* Карточка категории */
.category-card {
  width: 428px;
  height: 517px;
  gap: 0px;
}

.category-card h4 {
  left: 5px;
  top: 38px;
  width: 140px;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
}

.category-cards .category-card:last-child h4 {
  width: 131px;
}

.category-card-ellipse {
  position: relative;
  width: 388px;
  height: 500px;
  left: 5px;
  top: -145px;
  z-index: -1;
  background: no-repeat url(/img/category/Subtract.svg);
}

.pink-ellipse {
  position: relative;
  width: 81px;
  height: 72px;
  left: 342px;
  top: 150px;
  background: #FA8FEF;
  transform: rotate(-23deg);
  border-radius: 50%;
}

/* 4 */
.warehouse-stock-number {
  position: relative;
  width: 15px;
  height: 28px;
  left: 19px;
  top: 16px;
  font-family: 'Floreste';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(-23deg);
}

/* шт */
.warehouse-stock-unit {
  position: relative;
  left: 16px;
  top: 18px;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(-23deg);
}

/* изготовление на заказ */
/* .custom-made {
  display: inline-block;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  width: 89.17px;
  height: 196.03px;
  left: 24.2px;
  top: 228.01px;
} */


/* .circle {
  display: block;
  overflow: visible;
  width: 100px;
  font-size: 28px;
  fill: red;

  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  width: 89.17px;
  height: 196.03px;
  left: 24.2px;
  top: 228.01px;
} */

/* .circle path {
    fill: none;
} */

/* .category-card-ellipse .category-card-image {
  position: relative;
  top: -392px;
  left: 96px;
} */

.category-cards .category-card:nth-child(-n+2) .category-card-image {
  position: relative;
  top: -392px;
  left: 96px;
}

.category-cards .category-card:nth-child(3) .category-card-image {
  position: relative;
  top: -385px;
  left: 120px;
}

.category-cards .category-card:nth-child(4) .category-card-image {
  position: relative;
  top: -378px;
  left: 91px;
}
